{% extends "base.html" %}

{% block title %}Om arkivet | Aarhus byrådsarkiv{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <nav aria-label="breadcrumb mb-0 bg-light" aria-label="Brødkrummesti">
        <ol class="breadcrumb mb-0 bg-light">
          <li class="breadcrumb-item"><a href="/">Hjem</a></li>
          <li class="breadcrumb-item active">Om byrådsarkivet</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="hero-container">
    <div class="hero hero--image-right">
      <div class="container">
        <div class="hero__content">
          <h1 class="title underlined" id="content-headline">Om byrådsarkivet</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div id="content" class="static-page" role="article">
        <p>Den endelige beslutning om at opføre et nyt kunstmuseum i Aarhus blev truffet i Aarhus Byråd 9. august 2000. Sagen om Aros, som kunstmuseet senere kom til at hedde, finder du i Byrådsarkivet, sammen med tusindvis af andre sager, der har været på den politiske dagsorden i Aarhus Kommune.</p>
        <p>Byrådsarkivet indeholder sager, der har været behandlet på møder i Aarhus Byråd, Magistraten og de politiske udvalg. I øjeblikket går det tilbage til 1997, da beslutningsdokumenterne blev digitale.</p>
        <p>Det er planen at udvide arkivet. Med tiden vil du kunne finde sager, der går helt tilbage til det første byråd i Aarhus Kommune i 1867. Arbejdet med at digitalisere de gamle byrådsbeslutninger er gået i gang.</p>
        <h3>Hvor er de nyeste dagsordener og referater?</h3>
        <p>Byrådsarkivet er ment som en samlet indgang til hele byens historiske beslutningsgrundlag, og vi arbejder løbende på at tilføje ældre årgange af sager og mødereferater. Hvis du derimod er interesseret i de aktuelle dagsordener fra indeværende år, skal du besøge <a href="https://dagsordener.aarhus.dk">dagsordener.aarhus.dk</a>, som dagligt bliver ajourført med de nyeste data.</p>
        <h3>Spørgsmål eller kommentarer til byrådsarkivet</h3>
        <p>Har du spørgsmål til indholdet i arkivet kan du skrive til <a href="mailto:byraadsservice@ba.aarhus.dk?subject=Byrådsarkivet">byraadsservice@ba.aarhus.dk</a></p>
        <p>Feedback og fejlmeldinger vedrørende hjemmesidens funktionalitet sendes til <a href="mailto:stadsarkiv@aarhus.dk?subject=Byrådsarkivet">stadsarkiv@aarhus.dk</a></p>
      </div>
    </div>
  </div>
{% endblock content %}