{% extends "base.html" %}

{% block title %}Cookies | Aarhus byrådsarkiv{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb mb-0 bg-light" aria-label="Brødkrummesti">
            <ol class="breadcrumb mb-0 bg-light">
            <li class="breadcrumb-item"><a href="/">Hjem</a></li>
            <li class="breadcrumb-item active">Cookies</li>
            </ol>
        </nav>
    </div>
</div>
<div class="hero-container">
    <div class="hero hero--image-right">
        <div class="container">
            <div class="hero__content">
            <h1 class="title underlined" id="content-headline">Cookies</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="content" class="static-page" role="article">
            <p>Dit besøg på Byrådsarkivet (byraadsarkivet.aarhus.dk) er anonymt. Selvom du accepterer vores statistikcookie, registrerer eller gemmer vi ingen data, der kan bruges til at identificere dig som person.</p>

            <h3>Hvad er en cookie?</h3>
            <p>Cookies anvendes af stort set alle websites. I nogle tilfælde er cookies den eneste måde at få et website til at fungere efter hensigten.</p>

            <p>En cookie er en fil, som lægges på din computer eller andet IT-udstyr. Den gør det muligt at genkende din computer og samle information om, hvilke sider og funktioner, der besøges med din browser. Men cookies kan ikke se, hvem du er, hvad du hedder, hvor du bor, eller om computeren bruges af en eller flere personer. Den kan heller ikke sprede computervirus eller andre skadelige programmer.</p>

            <h3>Byrådsarkivets brug af cookies</h3>
            <p>Første gang du lander på denne hjemmeside, ser du et banner med information om en cookie til statistik. Hvis du klikker "Tillad cookie", sættes der en cookie til at føre besøgsstatistik, og dermed hjælpe med udviklingen af hjemmesiden. Der vil altid sættes en simpel cookie med dit valg, så du ikke skal tage stilling til cookies, hver gang du besøger hjemmesiden.</p>
            <p>Det er til enhver tid muligt at ændre dit valg ved at klikke på "Mit cookievalg" nederst på alle siderne på Byrådsarkivet. Fortryder du en tidligere accept af cookies, vil den eksisterende statistikcookie nu blive slettet. Fortryder du derimod en tidligere afvisning, vil statistikcookien nu blive sat, og du bidrager hermed til forbedring af byrådsarkivet</p>

            <h4>Cookie til indsamling af besøgsstatistik</h4>
            <p>Som en del af aarhus.dk-portalen, benytter Byrådsarkivet en statistikcookie fra Siteimprove. Den vil som nævnt ikke blive sat, hvis man afviser cookies på Byrådsarkivet, og selvom du accepterer denne cookie, sker der automatisk anonymisering af de indsamlede ip-adresser, og Siteimprove respekterer "Do Not Track" anmodninger fra alle browsere.</p>
            <p>Denne cookie hedder "nmstat" og udløber efter 3 år, hvis den ikke slettes inden.</p>
            <p><a href="https://www.aarhus.dk/om-kommunen/databeskyttelse/om-hjemmesiden/privatlivspolitik/">Læs mere om Siteimprove og den tilhørende databehandleraftale på aarhus.dk</a></p>

            <h4>Cookie til registrering af brugerens cookievalg</h4>
            <p>Den cookie, som Byrådsarkivet benytter til at holde styr på brugerens cookie-valg, hedder "cookieconsent_status", og den bliver gemt i et år, hvis den ikke slettes.</p>

            <h3>Hvorfor informerer vi om dette?</h3>
            <p>Alle danske netsteder er forpligtet til at informere om, hvilke cookies de ønsker at afsætte på brugerens udstyr. Informationen skal være i overensstemmelse med ”Bekendtgørelse om krav til information og samtykke ved lagring af og adgang til oplysninger i slutbrugeres terminaludstyr”, som er en del af et EU-direktiv om beskyttelse af privatlivets fred i elektronisk kommunikation.</p>

            <h3>Generel afvisning og sletning af cookies</h3>
            <p>Du kan altid afvise alle cookies fuldstændig ved at ændre indstillingerne i din browser på din computer, tablet eller telefon. Hvor du finder indstillingerne afhænger af, hvilken browser du anvender. Du skal dog være opmærksom på, at hvis du afviser alle cookies, vil der på de fleste hjemmesider være funktioner og services, du ikke kan anvende (fordi disse er afhængige af cookies).</p>
            <p><a href="https://erhvervsstyrelsen.dk/saadan-undgaar-du-cookies">Læs mere om afvisning af cookies på Erhvervsstyrelses hjemmeside</a></p>

            <h3>Har du spørgsmål?</h3>
            <p>Har du kommentarer eller spørgsmål i forbindelse med vores cookies eller behandling af personlige oplysninger, er du velkommen til at kontakte os.</p>
        </div>
    </div>
</div>
{% endblock content %}
