{% extends "base.html" %}

{% block title %}Den politiske beslutningsproces | Aarhus byrådsarkiv{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <nav aria-label="breadcrumb mb-0 bg-light" aria-label="Brødkrummesti">
        <ol class="breadcrumb mb-0 bg-light">
          <li class="breadcrumb-item"><a href="/">Hjem</a></li>
          <li class="breadcrumb-item active">Den politiske beslutningsproces</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="hero-container">
    <div class="hero hero--image-right">
      <div class="container">
        <div class="hero__content">
          <h1 class="title underlined" id="content-headline">Den politiske beslutningsproces i Aarhus Kommune</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div id="content" class="static-page" role="article">
        <div>
          <h2>1. Magistraten</h2>
          <p>Aarhus Kommune er en magistratsstyret kommune.</p>
          <p>Magistratsstyre betyder, at kommunen i det daglige arbejde ledes af Magistraten, som består af borgmesteren og fem rådmænd, der har ansvaret for hvert sit område og leder hver sin magistratsafdeling. Borgmesteren er formand for både byrådet og Magistraten. Samtidig er borgmesteren øverste politiske chef for Borgmesterens Afdeling, der blandt andet varetager økonomiske anliggender og koordinerende opgaver på tværs af magistratsafdelingerne. Rådmændene har det øverste politiske og administrative ansvar for hver deres magistratsafdeling. Magistratsafdelingerne indstiller sager til byrådet og udfører byrådets beslutninger. Borgmesteren og rådmændene vælges for hele valgperioden, dvs. for fire år ad gangen.</p>
          <p>Herudover er der i Magistraten (fra 2018 og frem) tre magistratsmedlemmer, som er byrådsmedlemmer, der ikke har ansvar for en forvaltning.</p>
          <img src="/static/organisation.jpg" alt="">
          <p>Magistraten forbereder byrådets møder og har dermed ansvaret for de sager (”indstillinger”), der skal fremsendes til byrådet. Inden en indstilling kan komme på et magistratsmøde, udarbejder Borgmesterens Afdeling en ”påtegning”. Påtegningen beskriver, om der er særligt økonomiske aspekter af en sag, politikerne skal være bevidste om, inden de kan træffe afgørelse i sagen. Derefter kan indstillingen behandles af Magistraten. Hvis Magistraten ikke har bemyndigelse til at træffe endelig afgørelse i sagen, videresendes indstillingen efterfølgende til byrådet med Magistratens anbefaling i sagen.</p>
        </div>
        <div>
          <h2>2. Byrådet</h2>
          <p>Populært sagt er byrådet kommunens ”Folketing”, hvor Magistraten er ”regeringen”. Byrådet består af 31 medlemmer (inkl. borgmester og rådmænd) og er kommunens øverste besluttende og bevilgende myndighed, der træffer afgørelse i indstillingerne fra Magistraten. På årsbasis behandles rundt regnet 600 indstillinger. Hvis byrådet ønsker en sag nærmere belyst, kan det sende indstillingen til behandling i et af de faste udvalg. Det kræver blot, at mindst tre byrådsmedlemmer udtrykker dette under den første behandling i byrådet.</p>
        </div>
        <div>
          <h2>3. Faste udvalg og opgaveudvalg</h2>
          <p>Der er for nuværende følgende seks faste udvalg i Aarhus Kommune, hvert bestående af syv byrådsmedlemmer:</p>
          <ul>
            <li>Økonomiudvalget</li>
            <li>Social- og Beskæftigelsesudvalget</li>
            <li>Teknisk Udvalg</li>
            <li>Sundhed- og Omsorgsudvalget</li>
            <li>Kulturudvalget</li>
            <li>Børn og Ungeudvalget</li>
          </ul>
          <p>Udvalgenes opgave er blandt andet at belyse byrådshenviste sager nærmere og rådgive byrådet herom. Under sagens behandling i udvalget har interesserede borgere mulighed for at fortælle deres synspunkter ved et kort foretræde for udvalget. Udvalget fremsender efter behandlingen sin anbefaling til byrådet i form af en ”udvalgserklæring”. Herefter vil byrådet behandle sagen for anden gang og på baggrund af blandt andet udvalgets anbefaling træffe en endelig afgørelse.</p>
          <p>Udover de faste udvalg kan byrådet nedsætte opgaveudvalg (også kendt som ad hoc-udvalg eller §17, stk. 4-udvalg), der beskæftiger sig med en mere konkret opgave, som ofte går på tværs af magistratsafdelingernes ansvarsområder. Et opgaveudvalg, der kan bestå af både byrådsmedlemmer og borgere, arbejder i en afgrænset periode og afslutter sit arbejde med en anbefaling til byrådet.</p>
        </div>
        <h2>Sager på dagsordenen</h2>
        <div>
          <p>Der er grundlæggende to typer af sager på magistrats- og byrådsdagsorden: Indstillinger og beslutningsforslag. Udover disse kan der på udvalgsmøder være orienterings- eller drøftelsespunkter, som ikke skal videre til byrådet.</p>
          <h3>1. En indstilling</h3>
          <p>En byrådsindstilling forberedes i en af de seks magistratsafdelinger:</p>
          <ul>
            <li>Borgmesterens Afdeling</li>
            <li>Sociale Forhold og Beskæftigelse</li>
            <li>Teknik og Miljø</li>
            <li>Sundhed og Omsorg</li>
            <li>Kultur og Borgerservice</li>
            <li>Børn og Unge</li>
          </ul>
          <p>I indstillingen finder man hovedfremstillingen i sagen (resumé, beslutningspunkter, baggrund etc.). Til indstillingen kan der være en række bilag.</p>
          <h3>2. Forslag fra byrådsmedlem</h3>
          <p>Alle byrådsmedlemmer kan sende et forslag til behandling i byrådet. Dette kaldes et beslutningsforslag. Et beslutningsforslag starter i byrådet - ikke i Magistraten, som en indstilling gør.</p>
          <p>Efter byrådsmødet vil forslaget typisk blive sendt til den magistratsafdeling, hvor forslaget er aktuelt. Afdelingen skal så lave en indstilling (før 2019 en ”udtalelse”), som besvarer forslaget. Denne indstilling sendes inden for tre måneder tilbage til byrådet via Magistraten.</p>
        </div>
    </div>
  </div>
{% endblock content %}